html,body,form {
    margin: 0px;
   
    /* margin-left: 20px;
    margin-right: 20px; */
}


h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
}
ul, p {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}
a{
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
}




.navWeb {
  display: none;
}

#myLinks{
  display: none;

}
.navContainterMobile{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.navMobile{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-right: 25px;

}

.icon{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.fa-bars{
    font-size: 35px;;
    color:black;
}

.heroh1{
  padding-top: 50px;
  color: white;
}
.heroh2{
  color: white;
}

.landingPageContainer{
    background-image: url('../img/E720hero.png');
     background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.landingButton{
background: #FFFFFF;
border: 1px solid #969090;
box-shadow: 0 2px 7px 0 rgba(0,0,0,0.50);
border-radius: 6px;
font-size: 24px;
color: #000000;
letter-spacing: 0;
text-align: center;
font-family: 'Nunito Sans', sans-serif;

}
.button-container{
display: flex;
flex-direction: row;
justify-content: center;
padding-top: 600px;
}
.mission{
  text-align: center;
}

.missionInfo{
  text-align: center;
}
.image-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  padding-bottom: 150px;
}

.ceo{
  width: 15vw;
  height: 25vh;
  border-radius: 50%;
}


.service{
  text-align: center;
}
.MuiAvatar-img{
height: 900px;
}
#cardContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
}

.contact{
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 100px;

}
.footerContainer{
  background-color: #000000;
   width: 100vw;
  height: 20vh;
}

@media (min-width: 850px) {
.icon{
  display: none;
}
.navMobile {
  display: none;
}

.navImage{
  width: 5vh;
  height: 5vh;
}
.webContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 30px;
  margin-left: 30px;
  padding-top: 20px;
  padding-bottom: 0px;
}

.navWeb {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;  
  justify-content: flex-end;
  
}
.webLink{
  padding: 0px 10px;
  color: black;
  font-size: 20px;
}
  .landingPageContainer{
    background-image: url('../img/E720hero.png');
    background-repeat: no-repeat;
    background-size: 100%;   
    height: 1100px;
    width: 2000px 
  }   

.heroh1{
  padding-top: 50px;
  color: white;
}
.heroh2{
  color: white;
}
.heroContainerImage{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.landingButton{
background: #FFFFFF;
border: 1px solid #969090;
box-shadow: 0 2px 7px 0 rgba(0,0,0,0.50);
border-radius: 6px;
font-size: 32px;
color: #000000;
letter-spacing: 0;
text-align: center;
}
.avatarContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#cardContainer{
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-evenly;
}
.contact{
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  margin-right: 35px;
  padding-bottom: 100px;
  
}
.footerContainer{
  background-color: #000000;
   width: 100vw;
  height: 20vh;
}
}






