html,body,form {
    margin: 0px;
   
    /* margin-left: 20px;
    margin-right: 20px; */
}
h1{
  font-size: 40px;
}
h2{
  font-size: 20px;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
}
ul, p {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}
a{
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
}



.navWeb {
  display: none;
}

#myLinks{
  display: none;

}
.navContainterMobile{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.navMobile{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-right: 25px;

}

.icon{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.fa-bars{
    font-size: 35px;;
    color:black;
}

.heroh1{
  padding-top: 50px;
  color: white;
  
}
.heroh2{
  color: white;
}

.landingPageContainer{
    background-image: url('https://images.unsplash.com/39/lIZrwvbeRuuzqOoWJUEn_Photoaday_CSD%20(1%20of%201)-5.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
   background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.landingButton{
background: #FFFFFF;
border: 1px solid #969090;
box-shadow: 0 2px 5px 0 rgba(0,0,0,0.50);
border-radius: 6px;
font-size: 24px;
color: #000000;
letter-spacing: 0;
text-align: center;
font-family: 'Nunito Sans', sans-serif;

}
.button-container{
display: flex;
flex-direction: row;
justify-content: center;
padding-top: 600px;
}
.mission{
  text-align: center;
}

.missionInfo{
  text-align: center;
}
.image-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 50px;
}
.ceo{
  width: 30vw;
  height: 30vh;
  border-radius: 50%;
}

.service{
  text-align: center;
}

#cardContainer{
  display: flex;
  flex-direction: column;
 justify-content: center;
 padding-left: 110px;
}
.contact-container{
  background-color: black;
}
.contact{
  text-align: center;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 100px;

}
.footertext{
  color: #FFFFFF;
}
.subContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 100px;
}
.SubmitButton{
background: #FFFFFF;
border: 1px solid #969090;
box-shadow: 0 2px 5px 0 rgba(0,0,0,0.50);
border-radius: 6px;
font-size: 24px;
color: #000000;
letter-spacing: 0;
text-align: center;
font-family: 'Nunito Sans', sans-serif;
}
.text-container2{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin: 0px;
  padding: 0px;
}
.footerContainer{
  background-color: #000000;
  background-image: url('/src/img/E720Logo.png');
  background-repeat: no-repeat;
  background-size: cover;   
   width: 100vw;
  height: 50vh;
}

.fab{
  color: #FFFFFF;
  font-size: 30px;
  
}

.iconContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
   justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 50px;
  
}


@media (min-width: 850px) {
h1{
  font-size: 60px;
}
h2{
  font-size: 22px;
}
.icon{
  display: none;
}
.navMobile {
  display: none;
}

.navImage{
  width: 5vw;
  height: 5vh;
}

#webContainer {
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 0px;
  background-color: white;
  box-shadow: 0 2px 15px 0 rgba(0,0,0,0.1);
  padding-left: 25px;
  z-index: 999;
}

.navWeb {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;  
  justify-content: flex-end;
   margin-right: 30px;

  
}
.webLink{
  padding: 0px 10px;
  color: black;
  font-size: 20px;
}
  .landingPageContainer{
    background-image: url('https://images.unsplash.com/39/lIZrwvbeRuuzqOoWJUEn_Photoaday_CSD%20(1%20of%201)-5.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-repeat: no-repeat;
    background-size: cover;   
    height: 1100px;
    width: 2000px 
    
  }   

.heroh1{
  padding-top: 300px;
  color: white;
  font-size: 60px;
color: #FFFFFF;
letter-spacing: 0;
text-align: center;
text-shadow: 0 2px 18px rgba(0,0,0,0.50);
}
.heroh2{
  color: white;
font-size: 22px;
color: #FFFFFF;
letter-spacing: 0;
text-align: center;
text-shadow: 0 2px 21px rgba(0,0,0,0.50);
}
.heroContainerImage{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.landingButton{
background: #FFFFFF;
border: 1px solid #969090;
box-shadow: 0 2px 7px 0 rgba(0,0,0,0.50);
border-radius: 6px;
font-size: 32px;
color: #000000;
letter-spacing: 0;
text-align: center;

}

.button-container{
  padding-top: 0px;
}
.avatarContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.image-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  padding-bottom: 150px;
}

.ceo{
 
  width: 300px;
  height: 300px;
  border-radius: 50%;
}


#cardContainer{
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-evenly;
  padding-bottom: 100px;
}
.contact-container{
  background-color: black;
}
.contact{
  text-align: center;
  color: white;
}
.form {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  margin-left: 400px;  
}
.MuiInputBase-root{
  width: 70%;
}

.Formh1{
  padding-top: 25px;
  
}

.footertext{
  color: #FFFFFF;
  padding: -500px;
}
.subContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 400px;
  padding-bottom: 100px;
}
.SubmitButton{
background: #FFFFFF;
border: 1px solid #969090;
box-shadow: 0 2px 5px 0 rgba(0,0,0,0.50);
border-radius: 6px;
font-size: 24px;
color: #000000;
letter-spacing: 0;
text-align: center;
font-family: 'Nunito Sans', sans-serif;
}
.text-container2{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin: 0px;
  padding: 0px;
}

.fab{
  color: #FFFFFF;
  font-size: 30px;
  
}

.iconContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
  justify-content: space-around;

}


.footerContainer{
  background-color: #000000;
  background-image: url('/src/img/E720Logo.png');
  background-repeat: no-repeat;
  background-size: cover;   
   width: 100vw;
  height: 40vh;
}


}
